:root {
  --color--blue: #2c4a6a;
  --color--yellow: #fbd85d;
}

body {
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  background-image: url("img/minion-biz-featured.jpg");

  background-repeat: no-repeat;
  cursor: default;
}

button {
  outline: none;
  border: none;
}

.background {
  text-align: center;
  position: relative;
  background-image: url("img/background.png");
  background-repeat: no-repeat;
  background-size: 70vw 80vh;
  width: 70vw;
  height: 80vh;
  margin: auto;
  margin-top: 5vh;
  border-radius: 32px;
}

.display {
  text-align: center;
}

.play {
  text-align: center;
  width: 6vw;
  height: 8vh;
  line-height: 8vh;
  background-color: var(--color--yellow);
  border: solid black;
  border-radius: 18px;
  font-size: 2.8vw;
  color: var(--color--blue);
  margin: 1vw 0;
  transition: all 300ms ease-out;
}

.play:hover {
  transform: scale(1.1);
}

.play > i {
  cursor: pointer;
}

.timer {
  text-align: center;
  margin: auto;
  width: 5vw;
  height: 6vh;
  background-color: white;
  line-height: 6vh;
  font-size: 2.3vw;
  border-radius: 24px;
  border: black solid;
  margin-bottom: 1vw;
}

.count {
  text-align: center;
  margin: auto;
  width: 3vw;
  height: 6vh;
  background-color: gold;
  color: var(--color--blue);
  border-radius: 50%;
  border: solid black;
  line-height: 6vh;
  font-size: 2vw;
  margin-bottom: 2vw;
}

.figures {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 65%;
  bottom: 0;
  border-radius: 0 0 32px 32px;
}

.replay {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 35%;
  height: 45%;
  border-radius: 24px;
  background: rgba(255, 215, 0, 0.8);
  z-index: 1;
}

.replayBtn {
  text-align: center;
  width: 20%;
  height: 45%;
  border-radius: 12px;
  font-size: 2.5vw;
  color: var(--color--yellow);
  background-color: #065c97;
}

.replayBtn:hover {
  transform: scale(1.1);
}

.replayBtn i {
  transform: scale(-1, -1);
  cursor: pointer;
}

.replayBtn .fas {
  transform: none;
}

.description {
  font-size: 2.5vw;
  font-weight: bold;
}

.minions {
  position: absolute;
  top: 0px;
  cursor: pointer;
  transition: all 300ms ease-out;
}

.minions:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .background {
    background-image: url("img/mobile-background2.png");
    background-size: 100vw 100vh;
    width: 100vw;
    height: 100vh;
    margin: 0;
    border-radius: 0px;
  }
  .play {
    width: 9vh;
    height: 9vh;
    line-height: 9vh;
    font-size: 5vh;
    margin: 2.5vh;
  }

  .timer {
    width: 10vh;
    height: 5vh;
    background-color: white;
    line-height: 5vh;
    font-size: 4vh;
    margin-bottom: 2.5vh;
  }
  .count {
    width: 5vh;
    height: 5vh;
    background-color: gold;
    color: var(--color--blue);
    line-height: 5vh;
    font-size: 3vh;
  }

  .figures {
    width: 100%;
    height: 70%;
  }
  .replay {
    width: 65%;
    height: 35%;
  }

  .replayBtn {
    width: 35%;
    height: 50%;
    font-size: 6vh;
  }
  .description {
    font-size: 3vh;
  }
}
